GuessWhoClient/Connected Services/GameServices/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6969/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="booleanResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="booleanResponse" nillable="true" type="tns:booleanResponse" />
  <xs:simpleType name="ResponseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">200</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VALIDATION_ERROR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">400</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UPDATE_ERROR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">500</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SQL_ERROR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">501</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseStatus" nillable="true" type="tns:ResponseStatus" />
  <xs:complexType name="ProfileResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Profile" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:Profile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileResponse" nillable="true" type="tns:ProfileResponse" />
  <xs:complexType name="ArrayOfTopPlayerResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTopPlayer" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:ArrayOfTopPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopPlayerResponse" nillable="true" type="tns:ArrayOfTopPlayerResponse" />
  <xs:complexType name="ArrayOfTopPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopPlayer" nillable="true" type="tns:TopPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopPlayer" nillable="true" type="tns:ArrayOfTopPlayer" />
  <xs:complexType name="TopPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopPlayer" nillable="true" type="tns:TopPlayer" />
</xs:schema>