GuessWhoClient/Connected Services/GameServices/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6969/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6969/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GuessWhoServices" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="booleanResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="booleanResponse" nillable="true" type="tns:booleanResponse" />
  <xs:simpleType name="ResponseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">200</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VALIDATION_ERROR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">400</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CLIENT_CHANNEL_CONNECTION_ERROR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">401</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOT_ALLOWED">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">402</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UPDATE_ERROR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">500</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SQL_ERROR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">501</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseStatus" nillable="true" type="tns:ResponseStatus" />
  <xs:complexType name="ProfileResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Profile" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:Profile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileResponse" nillable="true" type="tns:ProfileResponse" />
  <xs:complexType name="base64BinaryResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="base64Binary" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="base64BinaryResponse" nillable="true" type="tns:base64BinaryResponse" />
  <xs:complexType name="ArrayOfTopPlayerResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTopPlayer" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:ArrayOfTopPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopPlayerResponse" nillable="true" type="tns:ArrayOfTopPlayerResponse" />
  <xs:complexType name="ArrayOfTopPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TopPlayer" nillable="true" type="tns:TopPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopPlayer" nillable="true" type="tns:ArrayOfTopPlayer" />
  <xs:complexType name="TopPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopPlayer" nillable="true" type="tns:TopPlayer" />
  <xs:complexType name="ArrayOfFriendResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfFriend" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoServices" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GuessWhoServices" minOccurs="0" name="Value" nillable="true" type="q1:ArrayOfFriend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendResponse" nillable="true" type="tns:ArrayOfFriendResponse" />
  <xs:complexType name="stringResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stringResponse" nillable="true" type="tns:stringResponse" />
  <xs:complexType name="PlayerInMatchResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PlayerInMatch" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:PlayerInMatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInMatchResponse" nillable="true" type="tns:PlayerInMatchResponse" />
  <xs:complexType name="PlayerInMatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInMatch" nillable="true" type="tns:PlayerInMatch" />
  <xs:complexType name="ArrayOfReportResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfReport" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:ArrayOfReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportResponse" nillable="true" type="tns:ArrayOfReportResponse" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportType" nillable="true" type="tns:ReportType" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idReport" type="xs:int" />
      <xs:element minOccurs="0" name="idReportType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idReportedUser" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="ReportType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reports" nillable="true" type="tns:ArrayOfReport" />
      <xs:element minOccurs="0" name="idReportType" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportType" nillable="true" type="tns:ReportType" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="Friendships" nillable="true" type="tns:ArrayOfFriendship" />
      <xs:element minOccurs="0" name="Friendships1" nillable="true" type="tns:ArrayOfFriendship" />
      <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="Reports" nillable="true" type="tns:ArrayOfReport" />
      <xs:element minOccurs="0" name="avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAccount" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="lastTimeNicknameChanged" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAccount" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfFriendship">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friendship" nillable="true" type="tns:Friendship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendship" nillable="true" type="tns:ArrayOfFriendship" />
  <xs:complexType name="Friendship">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="User1" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="idFriendRequested" type="xs:int" />
      <xs:element minOccurs="0" name="idFriendRequester" type="xs:int" />
      <xs:element minOccurs="0" name="idFriendship" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Friendship" nillable="true" type="tns:Friendship" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="idMatch" type="xs:int" />
      <xs:element minOccurs="0" name="idWinner" type="xs:int" />
      <xs:element minOccurs="0" name="score" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="dateTimeResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}Response" Namespace="http://schemas.datacontract.org/2004/07/GuessWhoDataAccess" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" type="tns:ResponseStatus" />
      <xs:element minOccurs="0" name="Value" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dateTimeResponse" nillable="true" type="tns:dateTimeResponse" />
</xs:schema>