GuessWhoClient/Connected Services/GameServices/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessWhoServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessWhoServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFriend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friend" nillable="true" type="tns:Friend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriend" nillable="true" type="tns:ArrayOfFriend" />
  <xs:complexType name="Friend">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdFriendship" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Friend" nillable="true" type="tns:Friend" />
  <xs:simpleType name="MatchStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CharacterSelection" />
      <xs:enumeration value="PlayerReady" />
      <xs:enumeration value="StartGame" />
      <xs:enumeration value="GameLost" />
      <xs:enumeration value="GameWon" />
      <xs:enumeration value="LooksLike" />
      <xs:enumeration value="DoesNotLookLike" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MatchStatus" nillable="true" type="tns:MatchStatus" />
  <xs:complexType name="ArrayOfSerializedLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SerializedLine" nillable="true" type="tns:SerializedLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSerializedLine" nillable="true" type="tns:ArrayOfSerializedLine" />
  <xs:complexType name="SerializedLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" nillable="true" type="tns:ArrayOfSerializedPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerializedLine" nillable="true" type="tns:SerializedLine" />
  <xs:complexType name="ArrayOfSerializedPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SerializedPoint" nillable="true" type="tns:SerializedPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSerializedPoint" nillable="true" type="tns:ArrayOfSerializedPoint" />
  <xs:complexType name="SerializedPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerializedPoint" nillable="true" type="tns:SerializedPoint" />
  <xs:complexType name="PlayerReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdReportType" type="xs:int" />
      <xs:element minOccurs="0" name="NicknameReported" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportComment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerReport" nillable="true" type="tns:PlayerReport" />
</xs:schema>