GuessWhoClient/Connected Services/GameServices/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuessWhoServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuessWhoServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6969/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
  <xs:complexType name="ArrayOfActiveUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActiveUser" nillable="true" type="tns:ActiveUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActiveUser" nillable="true" type="tns:ArrayOfActiveUser" />
  <xs:complexType name="ActiveUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActiveUser" nillable="true" type="tns:ActiveUser" />
  <xs:complexType name="ArrayOfFriend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friend" nillable="true" type="tns:Friend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriend" nillable="true" type="tns:ArrayOfFriend" />
  <xs:complexType name="Friend">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdFriendship" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Friend" nillable="true" type="tns:Friend" />
  <xs:simpleType name="MatchStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CharacterSelection" />
      <xs:enumeration value="PlayerReady" />
      <xs:enumeration value="StartGame" />
      <xs:enumeration value="GameLost" />
      <xs:enumeration value="GameWon" />
      <xs:enumeration value="LooksLike" />
      <xs:enumeration value="DoesNotLookLike" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MatchStatus" nillable="true" type="tns:MatchStatus" />
  <xs:complexType name="ArrayOfSerializedLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SerializedLine" nillable="true" type="tns:SerializedLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSerializedLine" nillable="true" type="tns:ArrayOfSerializedLine" />
  <xs:complexType name="SerializedLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Windows" minOccurs="0" name="EndPoint" type="q1:Point" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Windows" minOccurs="0" name="StartPoint" type="q2:Point" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerializedLine" nillable="true" type="tns:SerializedLine" />
</xs:schema>